body { 
    font-family: 'Playfair Display', serif;
    background: linear-gradient(135deg, #0F2351 0%, #bf2c38 100%);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 20px;
}

.login-wrapper {
    width: 100%;
    max-width: 1000px;
}

.container {
    background-color: rgba(255, 255, 255, 0.95);
    border-radius: 20px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    padding: 40px;
}

.illustration img {
    max-width: 100%;
    height: auto;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.login-container {
    padding: 20px;
}

h1 {
    font-size: 3rem;
    font-weight: 700;
    color: #333;
    margin-bottom: 0.5rem;
    letter-spacing: 2px;
}

.subtitle {
    font-size: 1.2rem;
    color: #666;
    margin-bottom: 2rem;
    font-style: italic;
}

.form-label {
    font-weight: 700;
    color: #444;
    font-size: 1.1rem;
}

.form-control {
    padding: 15px;
    font-size: 1rem;
    border-radius: 10px;
    border: 1px solid #ddd;
    transition: all 0.3s ease;
    background-color: #f9f9f9;
}

.form-control:focus {
    border-color: #bf2c38; /* Cambia el color del borde al enfocar */
    box-shadow: 0 0 0 0.2rem rgba(191, 44, 56, 0.25);
}

.btn-primary {
    background: linear-gradient(to right, #0F2351, #bf2c38); /* Color del botón actualizado */
    border: none;
    border-radius: 30px;
    font-weight: bold;
    font-size: 1.2rem;
    padding: 14px;
    transition: all 0.3s ease;
}

.btn-primary:hover {
    transform: translateY(-3px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.custom-link {
    color: #0F2351; /* Color de enlace actualizado */
    text-decoration: none;
    font-weight: 600;
    font-size: 1rem;
    transition: all 0.3s ease;
}

.custom-link:hover {
    color: #bf2c38; /* Color de enlace al pasar el mouse */
    text-decoration: underline;
}

@media (max-width: 768px) {
    .container {
        padding: 20px;
    }
    
    .illustration {
        margin-bottom: 30px;
    }

    h1 {
        font-size: 2rem;
    }

    .form-label, .subtitle {
        font-size: 1rem;
    }

    .btn-primary {
        font-size: 1rem;
        padding: 12px;
    }
}

/* Animación de desvanecimiento con desenfoque */
@keyframes fadeInBlur {
    0% {
        opacity: 0;
        filter: blur(20px);
        transform: scale(0.9);
    }
    100% {
        opacity: 1;
        filter: blur(0);
        transform: scale(1);
    }
}

/* Aplicar la animación al container */
.container {
    opacity: 0;
    animation: fadeInBlur 1.5s ease-in-out forwards;
    transition: all 0.3s ease;
}
